.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.movie-poster{
  width:340px;
  height:500px;
  object-fit: cover;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  

}
.movie-container{
  border-radius:15px;
  width:340px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-top: 20px;

}
.movie-cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name{
 margin:0;
 font-size:25px;
 padding-left: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie-summary{
  margin-top:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding:20px;
}
.movie-rating{
  font-size: 18px;
  padding-right: 10px;

}
.movielist{
  border-radius: 10px;
  display: flex;
  gap:16px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  background-color: antiquewhite;
  border-radius: 5px;
  margin-left: 10px;
}
.btn:hover{
  background-color: azure;
  cursor: pointer;
}
